<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-while">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <input name="Nombre" #Nombre="ngModel" [(ngModel)]="service.Nombre" class="form-control" 
            placeholder="Nombre Producto" required maxlength="50">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-while">
                    <i class="fas fa-edit"></i>
                </div>
            </div>
            <input name="Descripcion" #Nombre="ngModel" [(ngModel)]="service.Descripcion" class="form-control"
            placeholder="Descripcion Producto" required maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i> Enviar</button>
    </div>
</form>